/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: #F2F4F6; color:#414141;}
*::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
.mat-drawer-backdrop{position: fixed !important;}
.cursor{cursor: default;}
ul::-webkit-scrollbar-track
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  }
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a.link{color:#3289FF; cursor: pointer;}
.strong{font-weight: bolder;}
body,h1,h2,h3,h4,h5,h6,p,label,span,g,strong,th,td,tspan{font-family: 'Open Sans', sans-serif;}
h6{margin: 0; padding: 0; font-size: 14px; color: #414141;}
h5{margin: 0; padding: 0; font-size: 18px; color: #414141;}
h2.title{font-size: 22px; font-weight:normal;padding: 10px 0;}
h2.title .part{font-size: 22px; font-weight:normal;}
h3.title{font-size: 16px; font-weight:normal; margin: 0; padding: 0;}

header{padding: 0 10px; background: #060606; box-shadow: 0px 0px 6px #aaa;position: relative; font-size: 0.9rem;}

header .usericon{
    background: url("./assets/icons/user.svg") no-repeat center left;padding-left: 32px !important;
    font-size: 0.8rem;
    cursor: pointer;
}
header .notification{
    background: url("./assets/icons/notification.svg") no-repeat center left;padding-left: 32px !important;
    font-size: 0.8rem;
    cursor: pointer;
}
.app-switcher-icon svg{margin-top: 9px;}
#AppSwitcher_icon > rect{fill: #ffffff;}
.navbar-brand{display: flex;border-left: 1px solid #3e3e3e; padding-left: 20px; margin-left: 10px;}
.navbar-brand span{font-weight: bold; font-size: 0.9rem; letter-spacing: .28px; line-height: 52px;}
.navbar-brand strong{width: 88px; display: inline-block; overflow: hidden; }
.navbar-brand strong svg{fill: #ffffff;}
.navbar{box-sizing: border-box; padding: 0 15px ;}
.navbar-wrap {display:flex; max-width: 100%;}
.navbar-wrap .col-left{width:340px;height: 50px;box-sizing: border-box; display: flex;}
.navbar-wrap .col-middle{width:calc(100% - 680px); display: flex; justify-content: center;}
.navbar-wrap .col-right{width:340px;height: 50px;box-sizing: border-box;}
.navbar-brand {font-size: 1.2rem; padding-right: 60px; margin-right: 0; line-height: 50px; text-decoration: none;  color: #ffffff;}
.nav-item{font-size: 1rem; text-decoration: none; line-height: 50px; padding: 0 15px; border-top: 2px solid transparent; font-weight: normal; color: #222222;}
.nav-item.active{border-top: 2px solid #cb2027;}
.notification-summary-wrap{display: flex; float: right; margin: 0; padding: 0; list-style: none;}
.notification-summary-wrap li{height: 50px; padding: 0 10px;}
.mainMenuWrap{display: flex; flex-direction: row; list-style: none; margin: 0; padding: 0;}
.mainMenuWrap > li.menuItem > a:hover,
.mainMenuWrap > li.menuItem.active > a,
.mainMenuWrap > li.menuItem.active > a:hover{color: #ffffff !important;}
.mainMenuWrap > li.menuItem{position: relative;border-top: 2px solid transparent; margin-right: 10px;}
.mainMenuWrap > li.menuItem > a{color:#fffFFF66; font-weight: bold;padding: 14px 12px 0; height: 100%; box-sizing: border-box; display: flex;text-decoration: none;} 
.mainMenuWrap > li.menuItem > a > label{display: inline-block; width: 22px;}
.mainMenuWrap > li.menuItem.active{border-top:2px solid #cb2027 !important;}
.mainMenuWrap > li.menuItem:hover{border-top-color: #fad1d1; cursor: pointer;}
.child-menu{margin: 0; padding: 0; list-style: none; display: none; background: #ffffff; border:1px solid #d3d3d3; border-radius: 2px; position: absolute; z-index: 21; width: 190px;}
.child-menu > li > a {color:#111111 !important;position: relative;display: block; padding:8px 10px 8px 16px; cursor: pointer;  text-decoration: none; border-bottom: 1px solid #d3d3d3;}
.hasChildMenu:hover > .child-menu{display: block;}
.child-menu > li.active > a{color:#cb2027 !important;}
.mainMenuWrap>li.menuItem.active {
    border-top: 2px solid #cb2027!important;
}
.mainMenuWrap a:hover{color:#3289FF !important;}
li.menuItem.hasChildMenu > a span:after {content:'\005e'; font-size: 1em; font-weight: bold; font-family: "verdana";  display: inline-block; margin-left: 5px;}
.child-menu > li.active > a:before {
  content: "\2022";
  font-size: 2em;
  color: #cb2027;
  position: absolute;
  left: 5px;
  top: 0%;
}

hr{display: block; height: 1px; width: 100%; border: 0; background-color: #ccc; }



footer{height: 40px; padding: 0 20px; background-color: #ffffff; box-shadow: 0px -3px 5px #cccccc;line-height: 3rem; font-size: 0.8rem;}
.main{min-height: calc(100% - 120px);  margin: 0; padding: 0 35px;}

footer .footer-content {
    line-height: 2;
    height: 40px;
    box-sizing: border-box;
    color: #313131;
    display: flex;
}
footer .footer-content>label {
    width: 50%;
    padding: 5px 10px 0;
    box-sizing: border-box;
}
 /* To remove the underline ripple */
 #common-filter-wrap .mat-form-field-underline {
    background-color: transparent !important;
    display: none !important;
}
#common-filter-wrap .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}

.mat-spinner.loadingGif{width: 100px; height: 100px; position: fixed; top: 40%; left: 45%;  z-index: 99;transform: translate(-50%,-50%);}
.mat-progress-spinner.loadingGif circle, .mat-spinner.loadingGif circle {stroke: #d30303;}


.buttons_input .btn {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #444 !important;
    padding:5px 15px !important;
}
.md-drppicker .buttons{
    box-shadow: 0px -2px 2px rgb(219, 219, 219);
    margin-right: 0 !important;
}
.md-drppicker.shown{
    padding:0 !important;
}

.mat-sort-header-arrow {
    opacity: 0.6!important;
  }
  .coming-soon{
    border-top: 1px solid rgb(223, 223, 223);border-bottom: 1px solid rgb(223, 223, 223);
    color: #777777;
    background: url("assets/icons/code.svg") no-repeat center left;
    padding-left: 26px;
  }

.mat-snack-bar-container.success{background: #21a300; color: #ffffff;}
.mat-snack-bar-container.error{background: #ce0000; color: #ffffff;}
.mat-snack-bar-container.warning{background: #f7bd00; color: #ffffff;}
.mat-snack-bar-container{
    top: 0;
    position: absolute;
    left: 37%;
}
.mat-menu-panel{
    min-height: auto !important;
}
.applicationsMenu{
    width: 300px !important;
    min-height: 400px !important;
    margin-left: -23px;
    margin-top: 6px;
    border-radius: 0 !important;
}
.appMenuWrap{
    padding: 10px;
}
.appMenuWrap h6{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #E6EDF4;
}
.appMenuWrap ul{
    list-style: none;
    margin: 0;
    padding: 10px 0 0 10px;
}
.appMenuWrap ul li a{
    display: block;
    padding:7px 10px;
    cursor: pointer;
    color: #414141;
    text-decoration: none;
}
.appMenuWrap ul li a:hover{
    background-color: #F2F4F6;
}
.appMenuWrap ul li a.active{
    background-color: #414141;
    color:#fff;
}

.db-widget .card-content{position: relative;}
.treemapback {
    position: absolute;
    top: 1px;
    right: 17px;
    z-index: 5;
    cursor: pointer;
    font-size: 12px;
    color: #3289FF;
    background: #fff;
    display: inline-block;
    padding: 3px 8px;
    
}
.customToolTip{
    border:1px solid rgb(255, 166, 0);
    background-color: #ffffff;
    padding: 12px;
    font-size: 12px;
    line-height: 1.7;
}

.mat-header-cell {
    font-size: 14px;
    color: #414141;
    font-weight: 700;
}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background{
    background-color: #929db3;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #3289FF;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(169, 171, 255, 0.54);
}

.line.bestrial.highlight{stroke: #EA0D6F !important;}
.line.selected{stroke-width: 2 !important; opacity: 1 !important;}

h5.icon-metric{
    background:url("assets/icons/metro-chart-bars.svg") left center no-repeat;
    padding-left: 25px;
}

h5.icon-parameter{
    background:url("assets/icons/awesome-sliders-h.svg") left center no-repeat;
    padding-left: 25px;
}

h5.icon-label{
    background:url("assets/icons/material-label-outline.svg") left center no-repeat;
    padding-left: 25px;
}
.label-wrap{
    padding: 0 0 0 25px;
}
.tooltip {
    position: absolute;
    z-index: 9999;
    text-align: left;
    min-width: 80px;
    min-height: 40px;
    padding: 15px;
    font: 12px sans-serif;
    background-color: #0C396F;
    background-image: linear-gradient(#0C396F, #041933);
    color: #F2F2F2;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
  .tooltip p{padding: 0 0 8px 0; margin: 0;}
  .tooltip p:last-child{padding: 0;}
  .mat-drawer-container {
    background-color: transparent;
    color: #441144;
}
.mat-drawer.mat-drawer-side {
    border-left: 1px solid #cccccc;
}

/* Accordion table style starts */
table {
    width: 100%;
  }
  
  tr.accordion-table-detail-row {
    height: 0 !important;
  }
  
  tr.accordion-table-row-row:not(.table-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.accordion-table-row-row:not(.table-expanded-row):active {
    background: #efefef;
  }
  
  .accordion-table-row-row td {
    border-bottom-width: 0 !important;
  }
  
  .accordion-table-row-detail {
    overflow: hidden;
    display: flex;
  }
  
  .accordion-table-row-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .accordion-table-row-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .accordion-table-row-description {
    padding: 16px;
  }
  
  .accordion-table-row-description-attribution {
    opacity: 0.5;
  }
  
/* Accordion table style ends */


.btn-create{
    display: flex;
    height: 32px;
    min-width: 150px;
    background-color: #3289FF;
    color: #ffffff;
    font-size: 13px;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
 }
 .btn-create:hover{
    background-color: #ffffff;
    color: #3289FF;
 }
 .btn-create:hover em{
  background: url('assets/icons/plus-icon-dark.svg') no-repeat 12px center;
 }
 .btn-create em{
     width: 40px;
     background: url('assets/icons/plus-icon.svg') no-repeat 12px center;
     background-size: 13px;
     height: 100%;
 }
 .btn-create span{
    width: 100%;
    text-align: center;
    padding-right: 10px;
 }
 #no-data{border-radius: 6px; text-align: center; margin: auto; box-sizing: border-box; padding:50px; background-color: #fff;}
 #no-data .btn-create-blueprint{margin: auto;}
 .side-details-wrap{
   box-sizing: border-box;
   padding:20px 30px 20px 50px;
 }

 .search-field{display: flex; background-color: #fff; padding:6px; height: 20px; border-radius: 6px; border: 1px solid transparent;}
 .search-field > span{width: 22px;}
 .search-field > input{width: 250px; border: 0; height: 100%; outline: none; box-sizing: border-box; padding:4px 5px 0;}
 .search-field:hover{border-color: #3289FF;}
 .mat-progress-bar-buffer {
  background-color: #d6d6d6;
 }
 .mat-progress-bar-fill::after {
  background-color: #18C38A;
}
tr.mat-header-row{
  height: 35px !important;
}
tr.mat-header-row th{font-size: 12px;}
.mat-elevation-z2{
  border-radius: 6px;
  overflow: hidden;
}

.calendar #calendarinput{
  background: #ffffff url('./assets/icons/calendar.svg') no-repeat right center;
  border:1px solid #fefefe;
  margin: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.calendar #calendarinput:hover{
  border-color:#3289FF;
}
.calendar #calendarinput:focus{
  outline: none !important;
}
.md-drppicker td.active, .md-drppicker td.active:hover,
.md-drppicker .ranges ul li button.active{
  background-color: #3289FF !important;
}
.md-drppicker th {
  color: #414141 !important;
}
.toolTipClass{background-color:#ffffff; color: #414141 !important; box-shadow: 0px 0px 3px #a5a5a5;}